.nav-link.btn-style {
  position: relative;
  color: #ffffff !important;
  padding: 10px 20px !important;
  border-radius: 36px;
  border: #b61984 solid 1px;
  background-color: #b61984;
  z-index: 1;
}

.nav-link.btn-style::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 36px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.nav-link.btn-style:hover {
  color: #b61984 !important;
}

.nav-link.btn-style:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

form .btn {
  position: relative;
  color: #ffffff !important;
  margin: 35px 0 40px 0;
  padding: 15px 60px !important;
  border-radius: 36px;
  border: #b61984 solid 1px;
  background-color: #b61984;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  z-index: 1;
}

form .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 36px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

form .btn:hover {
  color: #b61984 !important;
}

form .btn:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.Newsletter .type-footer .btn-footer {
  position: relative;
  color: #000000 !important;
  margin: 0 10px 10px 0px;
  padding: 14px 90px;
  border-radius: 36px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  z-index: 1;
}

.Newsletter .type-footer .btn-footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #b61984;
  border-radius: 36px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  opacity: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.Newsletter .type-footer .btn-footer:hover {
  color: #ffffff !important;
}

.Newsletter .type-footer .btn-footer:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

.nav-com-icon .nav-item {
  padding: 0 !important;
}

.nav-com-icon .nav-item .nav-link {
  font-size: 13px !important;
  padding: 5px !important;
}

* {
  margin: 0;
  padding: 0;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-wavy {
  margin: 0 100px 0 120px;
  position: fixed;
  background-color: transparent;
  z-index: 999;
}

.header-wavy .fix-header .navbar {
  padding: 0 36px;
}

.header-wavy .fix-header .navbar .navbar-brand img {
  width: 80px;
}

.header-wavy .fix-header .navbar .navbar-nav {
  margin-left: 255px;
}

.header-wavy .fix-header .navbar .navbar-nav .nav-item {
  padding-right: 36px;
}

.header-wavy .fix-header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.header-wavy .fix-header .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #b61984;
}

.header-wavy .fix-header .navbar .navbar-nav .nav-item:hover .dot-nav {
  width: 15px;
  height: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.header-wavy .fix-header .navbar .navbar-nav .nav-item .dot-nav {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 20px;
  position: absolute;
  background-color: #b61984;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-wavy .fix-header .navbar .navbar-nav .nav-item.active .dot-nav {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header-wavy .fix-header .navbar .navbar-nav .nav-com-icon {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.header-scroll {
  width: 100%;
  padding: 5px 0;
  height: 50px;
  margin: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-box-shadow: 1px 1px 5px 1px grey;
          box-shadow: 1px 1px 5px 1px grey;
  background-color: white;
  -webkit-animation: animateHeader 1s forwards;
          animation: animateHeader 1s forwards;
}

.header-scroll .navbar-brand {
  display: none;
}

.header-scroll .navbar-nav {
  padding-left: 200px;
}

.header-scroll .navbar-nav .nav-item .dot-nav {
  margin-top: 0px !important;
}

@-webkit-keyframes animateHeader {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateHeader {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-scroll-two {
  -webkit-animation: animateHeaderTwo 1s forwards;
          animation: animateHeaderTwo 1s forwards;
}

@-webkit-keyframes animateHeaderTwo {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateHeaderTwo {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.background-header {
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(./../../images/images/yellow_top_wave_01.png);
  z-index: -3;
  background-position: 0% 0%;
  background-size: 1550px 250px;
  background-repeat: no-repeat;
}

#sec-1 {
  padding-top: 70px;
}

#sec-1 .row .left-side h5 {
  font-size: 16px;
  color: #b61984;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

#sec-1 .row .left-side h1 {
  font-size: 55px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.sec-2 {
  overflow-x: hidden;
  position: relative;
  padding: 30px 0 50px 0;
}

.sec-2 .card {
  margin: 10px;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sec-2 .card .img-card {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sec-2 .card .img-card img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sec-2 .card .img-card img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sec-2 .card .card-body {
  padding: 1rem 2em 2em 2em;
}

.sec-2 .card .card-body .card-title {
  font-size: 12px;
  color: #b61984;
  font-weight: 700;
  text-align: center;
}

.sec-2 .card .card-body h1 {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.sec-2 .card .card-body p {
  padding: 0.6rem 0 0 0;
  text-align: center;
  font-size: 15px;
}

.sec-2 .card:hover {
  -webkit-box-shadow: 0px 15px 15px 0px rgba(128, 128, 128, 0.573);
          box-shadow: 0px 15px 15px 0px rgba(128, 128, 128, 0.573);
}

.bg-1 {
  width: 100%;
  height: 500px;
  position: absolute;
  z-index: -2;
  top: 300px;
  background-position: 50% 50%;
  background-size: 1700px 270px;
  background-repeat: no-repeat;
  background-image: url(./../../images/images/Violet_top_left_wave.png);
}

.bg-2 {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 680px;
  z-index: -1;
  background-position: 20% 100%;
  background-size: 2000px 600px;
  background-color: #dcd1f0;
  background-repeat: no-repeat;
  background-image: url(./../../images/images/Wave_White_bottom_right_shape_01.png);
}

.sec-3 {
  position: relative;
}

.sec-3 img {
  width: 82%;
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
}

.sec-3 form {
  background-color: white;
  border: 1px solid black;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 30px 30px 1px rgba(128, 128, 128, 0.437);
          box-shadow: 0px 30px 30px 1px rgba(128, 128, 128, 0.437);
}

.sec-3 form h1 {
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 25px 0;
}

.sec-3 form .form-group {
  position: relative;
}

.sec-3 form .form-group .input-form1 {
  padding: 20px 0px 20px 30px;
  font-size: 12px;
  border-radius: 20px;
}

.sec-3 form .form-group .input-form2 {
  padding: 20px 0px 20px 30px;
  font-size: 12px;
  border-radius: 20px;
}

.sec-3 form .form-group .input-form3 {
  padding-left: 35px;
  height: 40px;
  font-size: 12px;
  border-radius: 20px;
}

.sec-3 form .form-group .input-form4 {
  padding-left: 35px;
  font-size: 12px;
  border-radius: 20px;
}

.sec-3 form .form-group .user1 {
  position: absolute;
  top: 7px;
  left: 10px;
  color: #b61984;
}

.sec-3 form .form-group .user2 {
  position: absolute;
  top: 7px;
  font-size: 18px;
  left: 10px;
  color: #b61984;
}

.sec-3 form .form-group .user3 {
  position: absolute;
  top: 6px;
  font-size: 18px;
  left: 10px;
  color: #b61984;
}

.sec-3 form .form-group .user4 {
  position: absolute;
  top: 6px;
  font-size: 18px;
  left: 10px;
  color: #b61984;
}

.sec-3 form .type-user1 {
  margin-right: 14px;
}

.sec-3 form .type-user2 {
  margin-left: 5px;
}

.sec-3 .bg-3 {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
  bottom: -40px;
  background-size: cover;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-image: url(./../../images/images/accent_bottom_wave_01.png);
}

.footer {
  width: 100%;
  height: 500px;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
  padding-left: 70px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(./../../images/images/footer_background.jpg);
}

.footer .contact-footer h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

.footer .contact-footer ul {
  font-size: 13px;
  padding-top: 15px;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.footer .contact-footer ul li {
  padding: 5px 0 0 0;
}

.footer .contact-footer ul li i {
  padding: 5px;
}

.footer .contact-footer ul li .icon-footer {
  padding-top: 20px;
}

.footer .contact-footer ul li .icon-footer i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .contact-footer ul li .icon-footer i:hover {
  color: black;
}

.footer .link-about h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

.footer .link-about ul {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  padding-top: 15px;
  list-style: none;
}

.footer .link-about ul li {
  padding: 5px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .link-about ul li:hover {
  color: #f87da7;
}

.footer .link-about ul li::after {
  content: "";
  display: block;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.156);
}

.footer .Newsletter {
  padding-left: 50px;
}

.footer .Newsletter h3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

.footer .Newsletter .type-footer {
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 15px;
}

.footer .Newsletter .type-footer input {
  border-radius: 50px;
  border: 1px solid #b61984;
  padding: 10px 30px;
  margin: 10px 10px 10px 0px;
  text-align: center;
  background: transparent;
  color: white;
}

.footer .Newsletter .type-footer input:focus {
  border: 1px solid white;
  outline: none;
}

.footer .Newsletter .type-footer input::-webkit-input-placeholder {
  color: white;
  font-size: 12px;
}

.footer .Newsletter .type-footer input:-ms-input-placeholder {
  color: white;
  font-size: 12px;
}

.footer .Newsletter .type-footer input::-ms-input-placeholder {
  color: white;
  font-size: 12px;
}

.footer .Newsletter .type-footer input::placeholder {
  color: white;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */