* {
  margin: 0;
  padding: 0;
  background-size: cover;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
//   font-family: "Montserrat", sans-serif;
//   font-family: "Montserrat Alternates", sans-serif;
}
